.container {
    display: flex;
    max-width: 1200px;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.alignCenter {
    align-items: center;
}

.justifyCenter {
    align-items: center;
}

.counterAlignment {
    gap: 2rem;
}

.buttonCls {
    background: #a96aff;
    font-size: 1.5rem;
    font-weight: 600;
}

/* .counterValue {

} */

.marginBlock {
    margin-block: 1rem;
}

.margin2 {
    margin: 2rem;
}