.App {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.AppFlex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

footer {
  text-align: center;
}

.portalClass {
  width: 25rem;
  height: 7rem;
  position: absolute;
  top: 20vh;
  left: 35vw;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background: #ededed;
  border: 2px solid orange;
  border-radius: 7px;
  padding: 0rem 0rem 0rem 4rem;
}

.hideClass {
  display: none !important;
}